[submodule "OpenNote"]
	path = OpenNote
	url = https://github.com/l3iggs/OpenNote.git
[submodule "OpenNoteService-PHP"]
	path = OpenNoteService-PHP
	url = https://github.com/l3iggs/OpenNoteService-PHP.git
